.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.filter-text {
  padding-left: 16px;
  color: white;
  text-shadow: 0px 0px 20px rgb(235, 182, 7);
}
